{%load static%}
<aside class="w-[260px]">
    <div class="shadow-area rounded-[3px] bg-white">
        <div class="p-4">
            <header>
                <div>
                    <a href="#" class="w-[228px] h-[228px]">

                        <div  class="w-[210px] h-[210px] rounded-full border border-gray-94 flex items-center overflow-hidden">
                            {% if user_img %}
                           <img src="{{ user_img.url }}" alt="User Image" style="max-w-full max-h-full object-fit: cover;" />
                          {% else %}
                             <img src="{% static 'images/visitor.svg' %}" alt="visitor"></img>
                          {% endif %}
                         </div>
                    </a>
                </div>
                <div class="mt-3 font-bold">
                    <a href="#" class="text-base text-red-900">YSL000</a>
                </div>
                <div class="mt-3 text-[0.875em]">等級 0</div>
            </header>
            <div class="mt-3">
                <ul class="list-none">
                    <li href="#" class="flex items-start">
                        <div class="whitespace-nowrap text-[0.875em] text-dark-600">收到讚：</div>
                    </li>
                    <li href="#" class="flex items-start mt-3">
                        <div class="whitespace-nowrap text-[0.875em] text-dark-600">粉絲：</div>
                        <div class="flex-grow overflow-hidden">
                            <div class="text-[0.875em] font-bold">
                                <a href="#" class="text-red-900 w-[100%] overflow-hidden overflow-ellipsis underline">0</a>
                            </div>
                        </div>
                    </li>
                    <li href="#" class="flex items-start mt-3">
                        <div class="whitespace-nowrap text-[0.875em] text-dark-600">追蹤：</div>
                        <div class="flex-grow overflow-hidden">
                            <div class="text-[0.875em] font-bold">
                                <a href="#" class="text-red-900 w-[100%] overflow-hidden overflow-ellipsis underline">0</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>