{% extends "layouts/base.html" %}
{%load static%}

{% block content %}
    <div class="desktop-only mt-[12px]">
        <div class="flex mx-auto w-[1200px]">
            {% include 'pages/main_page/_left_nav_bar.html' %}
            {% include 'pages/market_index/_market_index_main.html' %}
        </div>
    </div>
    <div class="mobile-only mt-[12px] w-full-100">
            {% include 'pages/main_page/_left_nav_bar.html' %}
            {% include 'pages/market_index/_market_index_main.html' %}
        </div>
    </div>
{% endblock %}