{%load static%}
<aside class="lg:w-[25%] w-full px-3">
    <div class="shadow-area rounded-[3px] bg-white p-2">
        <div class="p-2">
            <header class="mb-2">
                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px]">
                </div>
            </header>
            <div>
                <div>
                    <a href="#">
                        <div class="relative h-[160px]">
                            <div class="relative w-full h-full">
                                <div class="absolute top-0 left-0 w-[50px] h-[50px] border-2 border-white" style="background: url('https://scontent.ftpe8-4.fna.fbcdn.net/v/t39.30808-1/451700316_803387588614168_6585156417913879020_n.jpg?stp=dst-jpg_s160x160&_nc_cat=1&ccb=1-7&_nc_sid=6738e8&_nc_ohc=UHJ_KQ_llDcQ7kNvgGqDWrQ&_nc_ht=scontent.ftpe8-4.fna&edm=ADwHzz8EAAAA&oh=00_AYBYngEppvSLkEoljJvns45L9vNZjOG7IGNZl3X8OKjR8Q&oe=66DDBA32'); background-size: 100% 100%;"></div>
                                <div class="absolute top-0 left-0 w-full h-full" style="background: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(0, 0, 0, 0.5));"></div>
                                <img class="w-full h-full" src="https://scontent.ftpe8-4.fna.fbcdn.net/v/t39.30808-6/438300119_757279766558284_7101787218682840112_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=4cb600&_nc_ohc=hps6gmanG50Q7kNvgEFc5n2&_nc_ht=scontent.ftpe8-4.fna&edm=ADwHzz8EAAAA&oh=00_AYBX-snmukvaJffARNaumktleWXWc-z64azeuKgtrVOVXw&oe=66DDA892" alt="previewArticle"/>

                            </div>
                            <div class="absolute top-0 left-[60px] text-white p-1">
                                <div>股市爆料同...</div>
                                <div>6.2 萬 位追蹤者</div>
                            </div>
                        </div>
                    </a>
                </div>
                <ul class="mt-2 list-inside">
                </ul>
            </div>
        </div>
    </div>
</aside>