{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    {% include 'navigation/nav_bar.html' %}
    <div class="desktop-only mt-[12px]">
        <div class="flex w-[1200px] mx-auto gap-4">
                {% include 'pages/main_page/_left_nav_bar.html' %}
                {% include 'popular_pages/popular_stocks/popular_stocks_bar.html' %}
                {% include 'popular_pages/popular_stocks/_news_feed_recommend.html' %}
        </div>
    </div>
    <div class="mobile-only mt-[12px]">
        <div class="flex mx-auto">
            <div class="flex-1">
                {% include 'popular_pages/popular_stocks/popular_stocks_bar.html' %}
            </div>
            <div>
                {% include 'popular_pages/popular_stocks/_news_feed_recommend.html' %}
            </div>
        </div>
    </div>
{% endblock %}