{%load static%}
<div >
    <form action="" method="POST">
        {% csrf_token %}
        <div class="pt-3 pl-4 pr-4 pb-0 gap-2 flex flex-col">
            <div class="flex justify-center items-center">
                <div class="mr-3 mt-1 w-8 h-8 border border-gray-83 rounded-full overflow-hidden">
                    <img src="{% static 'images/visitor.svg' %}" alt="visitor"></img>
                </div>
                <div @click="toggleVisibility" class="pt-[5px] pr-[36px] pb-[5px] pl-[16px] w-[calc(100%-44px)] rounded-[16px] bg-gray-94">
                    <textarea class="w-full h-[20px] pr-2 text-[16px] leading-6 border-none outline-none resize-none overflow-y-hidden bg-transparent text-dark-800 flex items-center" placeholder="有什麼不同看法..."></textarea>
                    <label class="absolute top-[18px] right-8 w-5 h-5 cursor-pointer">
                        <img class="w-5 h-5" src="https://www.cmoney.tw/forum/_nuxt/img/upload_img.9a78e01.svg" alt="upload_img">
                    </label>
                </div>
            </div>
            <div class="gap-[6px] flex justify-end pb-2">
                {% if user.is_authenticated %}
                    {% if article.user == request.user %}
                        <form action="{% url 'articles:delete' article.id %}" method="POST">
                            {% csrf_token %}
                            <button class="border border-gray-69 block pt-1 pb-1 text-[0.875em] rounded-[14px] text-dark-600 ">
                                <div class="w-[52px] h-5 whitespace-nowrap btn-transition">刪除</div>
                            </button>
                        </form>
                        <form action="{% url 'articles:edit' article.id %}">
                            {% csrf_token %}
                            <button class="border border-gray-69 block pt-1 pb-1 text-[0.875em] rounded-[14px] text-dark-600 ">
                                <div class="w-[52px] h-5 whitespace-nowrap btn-transition">編輯</div>
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
               <button type="button" class="border border-gray-69 block pt-1 pb-1 text-[0.875em] rounded-[14px] text-dark-600 ">
                    <div class="w-[52px] h-5 whitespace-nowrap btn-transition">取消</div>
               </button>
               <button type="submit" class="block pt-1 pb-1 text-[0.875em] rounded-[14px] text-white bg-red-primary">
                    <div class="w-[52px] h-5 whitespace-nowrap btn-transition">送出</div>
               </button>
            </div>
        </div>
    </form>
</div>


