{% load static %}
{% load url_redirect %}
<!DOCTYPE html>
<html class="bg-gray-94">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'scripts/app.js' %}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <title>BBForum</title>

</head>
<body class="bg-gray-94">
    {% if request|should_include_nav_bar %}
        {% include "navigation/nav_bar.html" %}
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
