<div x-show="isVisible" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-20" fixed style="display: none;">

        <form method="POST" class="relative bg-white w-[538px] rounded-[10px] flex flex-col items-center justify-center" hx-target="#new_article" hx-post="{% url 'articles:index' %}" hx-confirm="確認送出留言？">
            {% csrf_token %}
            <button @click="isVisible = false" class="absolute top-3 right-3 flex items-center justify-center ">
                <i class="fa-solid fa-xmark w-5 h-5 text-gray-56"></i>
            </button>
            <div class="w-full border-b border-b-gray-90 min-h-[40px] text-dark-800 font-bold flex items-center pt-3 pb-3 pl-4 pr-4 overflow-hidden text-ellipsis">發文</div>

            <div class="w-full p-2">
                <textarea class="w-full min-h-[250px] text-gray-56 font-normal flex items-center p-2 text-[18px] border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-69 " placeholder="聊聊股市話題吧" name="content">{{posts.content}}</textarea>
            </div>

            <div class="pt-3 pb-3 pl-4 pr-4 w-full text-right">
                <div class="flex flex-wrap justify-end gap-2">
                    <button type="button" @click="isVisible = false, isReadonly = false" class="bg-white text-dark-600 px-4 py-2 rounded border border-gray-69">取消</button>
                    <button type="submit" @click="isVisible = false" class="bg-red-primary text-white px-4 py-2 rounded border-red-primary">發文</button>
                </div>
            </div>
        </form>
</div>

