{%load static%}
<aside class="desktop-only w-[260px]">
    <div class="shadow-area rounded-[3px] bg-white">
        <div class="p-4">
            <div>
                <div>
                    <header class="mb-4 leading-4">
                        <div>
                            <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                <div class="relative z-1">
                                    <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">大盤走勢</h2>
                                </div>
                                <div>
                                    <div>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px] bg-red-primary text-white"><div class="text-[12px]">上市</div></button>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px]"><div class="text-[12px]">上櫃</div></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="w-[260px]  flex flex-grow items-center overflow-hidden">
                        <iframe src="http://127.0.0.1:8050/" style="height:200px;width: 250px;margin-left: -1em;"  frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})" class="mt-5">
                <div>
                    <div>
                        <header class="mb-4 leading-4">
                            <div>
                                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                    <div class="relative z-1">
                                        <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">系統推薦</h2>
                                    </div>
                                    <div>
                                        <a href="#" class="pt-[6px] pb-[6px] text-sm text-red-900">更多</a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div>
                            <div>
                              <ul class="list-none">
                                {% for security_code, name in random_five_tags %}
                                <li class="flex justify-between items-center group mt-4">
                                  <div>
                                    <div class="text-red-primary hover:underline">
                                      <a href="#">{{security_code}} {{name}}</a>
                                    </div>
                                  </div>
                                  <button
                                    x-data="optional_stock({{ user.is_authenticated|lower }})"
                                    x-init="isAuthenticated? checkPickStatus('{% url 'picks:check_pick_api' security_code %}') : false"
                                    x-ref="buttonStyle"
                                    @click="startPick('{% url 'picks:pick_api' security_code %}', '{% url 'picks:unpick_api' security_code %}', '{% url 'picks:check_pick_api' security_code %}', `{{csrf_token}}`)"
                                  ></button>
                                </li>
                                {% endfor %}
                              </ul>
                                <template x-if="!isAuthenticated">
                                    {% include "layouts/not_logged.html" %}
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<aside class="mobile-only w-[375px]">
    <div class="shadow-area rounded-[3px] bg-white">
        <div class="p-4">
            <div>
                <div>
                    <header class="mb-4 leading-4">
                        <div>
                            <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                <div class="relative z-1">
                                    <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">大盤走勢</h2>
                                </div>
                                <div>
                                    <div>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px] bg-red-primary text-white"><div class="text-[12px]">上市</div></button>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px]"><div class="text-[12px]">上櫃</div></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="w-[260px]  flex flex-grow items-center overflow-hidden">
                        <iframe src="http://127.0.0.1:8050/" style="height:200px;width: 250px;margin-left: -1em;"  frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})" class="mt-5">
                <div>
                    <div>
                        <header class="mb-4 leading-4">
                            <div>
                                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                    <div class="relative z-1">
                                        <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">系統推薦</h2>
                                    </div>
                                    <div>
                                        <a href="#" class="pt-[6px] pb-[6px] text-sm text-red-900">更多</a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div>
                            <div>
                              <ul class="list-none">
                                {% for security_code, name in random_five_tags %}
                                <li class="flex justify-between items-center group mt-4">
                                  <div>
                                    <div class="text-red-primary hover:underline">
                                      <a href="#">{{security_code}} {{name}}</a>
                                    </div>
                                  </div>
                                  <button
                                    x-data="optional_stock({{ user.is_authenticated|lower }})"
                                    x-init="isAuthenticated? checkPickStatus('{% url 'picks:check_pick_api' security_code %}') : false"
                                    x-ref="buttonStyle"
                                    @click="startPick('{% url 'picks:pick_api' security_code %}', '{% url 'picks:unpick_api' security_code %}', '{% url 'picks:check_pick_api' security_code %}', `{{csrf_token}}`)"
                                  ></button>
                                </li>
                                {% endfor %}
                              </ul>
                                <template x-if="!isAuthenticated">
                                    {% include "layouts/not_logged.html" %}
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <section class="rounded-[3px] bg-white h-[60px] mt-3 shadow-area">
            <div class="relative flex flex-wrap items-center justify-between">
                <nav class="flex items-center w-full p-[16px]">
                    <ul class="flex items-center overflow-x-auto flex-grow gap-1">
                        <li>
                            <a href="#" class="inline-block pt-1 pb-1 pl-2 pr-2 rounded-[3px] bg-red-primary">
                                <div class="text-[15px] text-white whitespace-nowrap relative">人氣</div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="inline-block pt-1 pb-1 pl-2 pr-2 rounded-[3px]">
                                <div class="text-[15px] text-dark-800 whitespace-nowrap relative">新聞</div>
                            </a>
                        </li>
                    </ul>
                    <div class="flex items-center cursor-pointer">
                        <span class="text-[14px] font-bold leading-5 tracking-[0.2px] text-black-56">最相關</span>
                        <i class="fa-solid fa-sort-down w-[10px] h-[15px] text-black-56 mb-2 ml-1 mr-1"></i>
                    </div>
                </nav>
            </div>
        </section>
        {% for article in articles %}
            {% include "pages/main_page/_article.html" with article=article %}
        {% endfor %}
    </div>
</aside>