{%load static%}
<div class="desktop-only w-[760px] mx-3.5">
    <div class="h-[132px] mt-3 bg-gray-90 flex justify-center items-center pt-4 pb-4">
        <img class="w-[760px] h-[132px] object-cover" src="https://s3cdn.yourator.co/banners/banners/000/001/494/home/598a79cc28630e1c421d38c3e385faa9e2e88505.png" alt="ad"/>
    </div>
    <div class="mt-3">
        <div>
            <div class="mt-2 mb-2">
                <ul class="flex flex-wrap items-center gap-2">
                    <li class="text-red-primary text-[14px]">首頁</li>
                    <li class="flex items-center"><i class="fa-solid fa-angle-right fa-xs text-black-69"></i></li>
                    <li class="text-[14px]">我的自選股</li>
                </ul>
            </div>
        </div>
        <div class="mt-4 mb-4">
            <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-[3px] after:left-0">
                <div>
                    <h2 class="text-[20px] font-bold pb-2 -mb-[1px] border-b-[3px] border-b-red-900 leading-[18px]">我的自選股</h2>
                </div>
            </div>
        </div>
        <div class="p-4 mb-4 rounded-[3px] shadow-watchlist bg-white ">
            <div class="mb-4">
                <div class="flex justify-end">
                    <div class="text-black-56">
                        <span>報價時間</span>
                        <span class="text-black-90"> | </span>
                        <span>09/03 11:55</span>
                        <button class="rounded-[4px] inline-flex items-center justify-center gap-1 w-[61px] h-[28px] bg-white text-red-primary border border-gray-83 font-semibold text-[1rem] font-upgrade outline-none no-underline cursor-pointer">
                            <img src="https://www.cmoney.tw/forum/_nuxt/img/update.e4cf774.svg" alt="upgrade" />
                            更新
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="relative bg-white">
                    <div>
                        <table class="w-[100%] table-fixed border border-gray-d5d border-collapse border-spacing-0">
                            <thead>
                                <tr>
                                    <th class="font-bold pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d bg-gray-e1e w-[28%]">
                                        <div class="flex justify-center items-center">
                                            <div>個股名稱</div>
                                        </div>
                                    </th>
                                    <th class="font-bold pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>股價(元)</div>
                                        </div>
                                    </th>
                                    <th class="font-bold pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>漲跌(元)</div>
                                        </div>
                                    </th>
                                    <th class="font-bold pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>漲跌幅(%)</div>
                                        </div>
                                    </th>
                                    <th class="font-bold pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>成交張數</div>
                                        </div>
                                    </th>
                                    <th class="font-bold pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>本益比(倍)</div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cursor-pointer bg-white">
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex flex-col items-start justify-end">
                                            <a href="#" class="w-[100%] whitespace-nowrap overflow-hidden text-ellipsis text-red-900">5905 南仁湖</a>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="font-bold flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <span class="text-green-1b9">22.25</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <div class="w-4 h-4">
                                                        <img class="w-full h-full align-top inline-block"/>
                                                    </div>
                                                    <span class="ml-1 text-green-1b9">-0.75</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <span class="text-green-1b9">-3.26%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <div class="text-black">4,210</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <div class="text-black"> - </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="mt-3">
                <div class="pt-[3px] pb-[3px] mb-3 font-[0.875em] text-black-56">文章列表</div>
            </div>
            <section class="rounded-[3px] bg-white h-[60px] mt-3 shadow-area">
                <div class="relative flex flex-wrap items-center justify-between">
                    <nav class="flex items-center w-full p-[16px]">
                        <ul class="flex items-center overflow-x-auto flex-grow gap-1">
                            <li>
                                <a href="#" class="inline-block pt-1 pb-1 pl-2 pr-2 rounded-[3px] bg-red-primary">
                                    <div class="text-[15px] text-white whitespace-nowrap relative">人氣</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inline-block pt-1 pb-1 pl-2 pr-2 rounded-[3px]">
                                    <div class="text-[15px] text-dark-800 whitespace-nowrap relative">新聞</div>
                                </a>
                            </li>
                        </ul>
                        <div class="flex items-center cursor-pointer">
                            <span class="text-[14px] font-bold leading-5 tracking-[0.2px] text-black-56">最相關</span>
                            <i class="fa-solid fa-sort-down w-[10px] h-[15px] text-black-56 mb-2 ml-1 mr-1"></i>
                        </div>
                    </nav>
                </div>
            </section>
            {% for article in articles %}
                {% include "pages/main_page/_article.html" with article=article %}
            {% endfor %}
        </div>
    </div>
</div>
<aside class="desktop-only w-[260px]">
    <div class="shadow-area rounded-[3px] bg-white">
        <div class="p-4">
            <div>
                <div>
                    <header class="mb-4 leading-4">
                        <div>
                            <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                <div class="relative z-1">
                                    <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">大盤走勢</h2>
                                </div>
                                <div>
                                    <div>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px] bg-red-primary text-white"><div class="text-[12px]">上市</div></button>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px]"><div class="text-[12px]">上櫃</div></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="w-[260px]  flex flex-grow items-center overflow-hidden">
                        <iframe src="http://127.0.0.1:8050/" style="height: 234px;width: 250px;margin-left: -1em;"  frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})" class="mt-5">
                <div>
                    <div>
                        <header class="mb-4 leading-4">
                            <div>
                                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                    <div class="relative z-1">
                                        <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">系統推薦</h2>
                                    </div>
                                    <div>
                                        <a href="#" class="pt-[6px] pb-[6px] text-sm text-red-900">更多</a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div>
                            <div>
                              <ul class="list-none">
                                {% for security_code, name in random_five_tags %}
                                <li class="flex justify-between items-center group mt-4">
                                  <div>
                                    <div class="text-red-primary hover:underline">
                                      <a href="#">{{security_code}} {{name}}</a>
                                    </div>
                                  </div>
                                  <button
                                    x-data="optional_stock({{ user.is_authenticated|lower }})"
                                    x-init="isAuthenticated? checkPickStatus('{% url 'picks:check_pick_api' security_code %}') : false"
                                    x-ref="buttonStyle"
                                    @click="startPick('{% url 'picks:pick_api' security_code %}', '{% url 'picks:unpick_api' security_code %}', '{% url 'picks:check_pick_api' security_code %}', `{{csrf_token}}`)"
                                  ></button>
                                </li>
                                {% endfor %}
                              </ul>
                                <template x-if="!isAuthenticated">
                                    {% include "layouts/not_logged.html" %}
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</aside>
<div class="mobile-only">
    <div class="bg-gray-90 flex justify-center items-center">
        <img class="object-cover" src="https://s3cdn.yourator.co/banners/banners/000/001/494/home/598a79cc28630e1c421d38c3e385faa9e2e88505.png" alt="ad"/>
    </div>
        <div class="mt-4 mb-4">
            <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-[3px] after:left-0">
                <div>
                    <h2 class=" text-black text-[20px] font-bold p-2 -mb-[1px] border-b-[3px] border-b-red-900 leading-[18px]">我的自選股</h2>
                </div>
            </div>
        </div>
        <div class="p-4 mb-4 rounded-[3px] shadow-watchlist bg-white">
            <div class="mb-4">
                <div class="flex justify-end">
                    <div class="text-black-56">
                        <span>報價時間</span>
                        <span class="text-black-90"> | </span>
                        <span>09/03 11:55</span>
                        <button class="rounded-[4px] inline-flex items-center justify-center gap-1 w-[61px] h-[28px] bg-white text-red-primary border border-gray-83 font-semibold text-[1rem] font-upgrade outline-none no-underline cursor-pointer">
                            <img src="https://www.cmoney.tw/forum/_nuxt/img/update.e4cf774.svg" alt="upgrade" />
                            更新
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="relative bg-white">
                    <div>
                        <table class="w-[100%] table-fixed border border-gray-d5d border-collapse border-spacing-0">
                            <thead>
                                <tr>
                                    <th class="font-bold p-[6px] border border-gray-d5d bg-gray-e1e w-[28%]">
                                        <div class="flex justify-center items-center">
                                            <div>個股名稱</div>
                                        </div>
                                    </th>
                                    <th class="font-bold p-[6px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>股價(元)</div>
                                        </div>
                                    </th>
                                    <th class="font-bold p-[6px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>漲跌(元)</div>
                                        </div>
                                    </th>
                                    <th class="font-bold p-[6px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>漲跌幅(%)</div>
                                        </div>
                                    </th>
                                    <th class="font-bold p-[6px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>成交張數</div>
                                        </div>
                                    </th>
                                    <th class="font-bold p-[6px] pr-[10px] border border-gray-d5d bg-gray-e1e w-[18%]">
                                        <div class="flex justify-center items-center">
                                            <div>本益比(倍)</div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cursor-pointer bg-white">
                                    <td class="align-middle p-[6px] border border-gray-d5d">
                                        <div class="flex flex-col items-start justify-end">
                                            <a href="#" class="w-[100%] whitespace-nowrap overflow-hidden text-ellipsis text-red-900">5905 南仁湖</a>
                                        </div>
                                    </td>
                                    <td class="align-middle p-[6px] border border-gray-d5d">
                                        <div class="font-bold flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <span class="text-green-1b9">22.25</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle p-[6px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <div class="w-4 h-4">
                                                        <img class="w-full h-full align-top inline-block"/>
                                                    </div>
                                                    <span class="ml-1 text-green-1b9">-0.75</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle p-[6px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <span class="text-green-1b9">-3.26%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle p-[6px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <div class="text-black">4,210</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle p-[6px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <div class="text-black"> - </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>