{%load static%}
<aside class="w-[100%] lg:w-[25%] pr-3 pl-3">
    <div class="shadow-area rounded-[3px] bg-white">
        <div class="p-4">
            <header class="mb-4">
                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-[3px] after:left-0">
                    <div>
                        <h2 class="text-[1.125em] font-bold pb-2 -mb-[1px] border-b-[3px] border-b-red-900 leading-[18px]">可能感興趣的文章</h2>
                    </div>
                </div>
            </header>
            <div>
                <div>
                    <a href="https://www.cmoney.tw/forum/article/165146334">
                        <div class="h-[100%]">
                            <img class="align-top inline-block w-[100%] h-[100%]" src="https://imgs.gvm.com.tw/upload/gallery/20240920/182295.jpg" alt="previewArticle"/>
                        </div>
                    </a>
                </div>
                <ul class="mt-4 list-inside">
                    <li class="border-b border-b-dotted border-gray-d5d">
                        <div>
                            <a href="https://www.cmoney.tw/forum/article/165146334" class="text-red-primary w-full leading-7 overflow-hidden text-ellipsis whitespace-nowrap">
                                中信金放棄收購新光金，「搶...
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>