{% load static %}
{% if not hide_nav_and_footer %}
<div class="mobile-only">
    <div x-show="isVisible" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-start md:justify-center z-20" style="display: none;">
        <div class="relative bg-white w-full max-w-[768px] md:max-w-[338px] lg:max-w-[1200px] rounded-[10px] flex flex-col items-center justify-center p-4 md:p-0 mx-4 md:mx-0">
            <button @click="isVisible = false" class="absolute top-3 right-3 flex items-center justify-center ">
                <i class="fa-solid fa-xmark w-5 h-5 text-black-56"></i>
            </button>
            <div class="w-full border-b border-b-gray-90 min-h-[40px] text-dark-800 font-bold flex items-center pt-3 pb-3 pl-4 pr-4 overflow-hidden text-ellipsis">您尚未登入</div>
            <div class="w-full min-h-[40px] text-black-56 font-normal flex items-center pl-4 pr-4 overflow-hidden text-[14px]">這個功能需要登入才可使用。</div>
            <div class="pt-3 pb-3 pl-4 pr-4 w-full text-right">
                <div class="flex flex-wrap justify-end gap-2">
                    <button @click="isVisible = false" class="bg-white text-dark-600 px-4 py-2 rounded border border-gray-69">取消</button>
                    <button @click="window.location.href = '{% url 'users:sign_in' %}'" class="bg-red-primary text-white px-4 py-2 rounded border-red-primary">登入</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-only nav-bar-bottom flex justify-around">
    <a href="{% url 'pages:index' %}" class="flex-1 text-center"><i class="fa-solid fa-comment-dots"></i></a>
    <div x-data="{ showMenu: false }" class="flex-1 text-center relative">
        <button @click="showMenu = !showMenu" class="w-full">
            <i class="fa-solid fa-money-bill-trend-up" style="font-size: 28px;"></i>
        </button>
        <div x-show="showMenu" @click.away="showMenu = false" class="absolute left-1/2 transform -translate-x-1/2 bottom-full mb-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg z-20">
            <a href="{% url 'popular_pages:popular_stocks' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">熱門股票</a>
            <a href="{% url 'popular_pages:popular_students' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">熱門同學</a>
        </div>
    </div>
    <a href="{% url 'stocks:stock_data_twii' %}" class="flex-1 text-center"><i class="fa-solid fa-chart-line"></i></a>
    {% if user.is_authenticated %}
    <a href="{% url 'userprofiles:edit' user.id %}" class="flex-1 text-center"><i class="fa-solid fa-user"></i></a>
    {% else %}
    <a href="{% url 'users:sign_in' %}" class="flex-1 text-center"><i class="fa-solid fa-user"></i></a>
    {% endif %}
    </div>
</div>
{% endif %}