{% extends "layouts/base.html" %}
{%load static%}

{% block content %}
    <div class="desktop-only mt-[12px]">
        <div class="w-[1200px] flex mx-auto">
            {% include 'pages/main_page/_left_nav_bar.html' %}
            {% include 'pages/taiwan_index/_taiwan_index_main.html' %}
            </div>
        </div>
    </div>
    <div class="mobile-only mt-[12px]">
            {% include 'pages/main_page/_left_nav_bar.html' %}
            {% include 'pages/taiwan_index/_taiwan_index_main.html' %}
        </div>
    </div>
{% endblock %}