{%load static%}
<div>
    <ul class="p-2">
        {% for comment in article.comments.all %}
            <div x-data="edit_comment" class="p-4 mt-1 mb-1 my_comment w-full">
                <div class="flex justify-between items-center h-full gap-4">
                    <div x-show="!editing" class="w-full chat chat-start">
                        <div class="chat-image avatar">
                            <div class="w-10 rounded-full mb-2">
                              <img
                                alt="visitor"
                                src="{% static 'images/visitor.svg' %}" />
                            </div>
                        </div>
                        <div class="pl-1 pb-2">
                            <div class="flex justify-between items-center">
                                <span class="text-sm">
                                    {{ comment.user.username }}
                                </span>
                            </div>
                            <div class="text-xs text-black-cbc">
                                {{ comment.created_at|date:'Y/m/d h:i' }}
                            </div>
                        </div>
                        <div class="flex flex-col bg-dark-800 rounded-md chat-bubble text-white">
                            <div x-ref="commentContent" class="w-full pt-1 pb-1 text-base">
                                {{ comment.content }}
                            </div>
                        </div>
                    </div>
                    <template x-if="editing">
                        <div class="w-full h-full">
                            <div class="mr-4 flex flex-col">
                                <div class="text-sm pl-1">
                                    {{ comment.user.username }}
                                </div>
                                <textarea x-model="commentContent"
                                        @input="adjustHeight($event.target)"
                                        class="w-full pt-1 pb-1 pl-3 text-base border border-gray-cbc bg-white">
                                        {{ comment.content }}
                                </textarea>
                            </div>
                        </div>
                    </template>
                    {% if request.user.id == comment.user.id %}
                        <div class="dropdown">
                            <div tabindex="0" role="button"  class="w-12 h-4 btn rounded-full bg-transparent border-transparent">
                                <i class="fa-solid fa-ellipsis w-[26px] h-[26px] text-black-56"></i>
                            </div>
                            <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] w-40 p-2 shadow bg-white">
                                <li>
                                    <button
                                        @click="startEdit"
                                        x-show="!editing"
                                        class="text-sm">
                                        編輯
                                    </button>
                                </li>
                                <li>
                                    <button
                                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                        hx-post="{% url 'articles:update_comment' comment.id %}"
                                        hx-swap="none"
                                        x-bind:hx-vals="JSON.stringify({content: commentContent})"
                                        @click="saveEdit"
                                        x-show="editing"
                                        class="text-sm">
                                        儲存
                                    </button>
                                </li>
                                <li>
                                    <form
                                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                        hx-delete="{% url 'articles:delete_comment' comment.id %}"
                                        hx-confirm="確認刪除？"
                                        hx-target="closest .my_comment"
                                        hx-swap="outerHTML"
                                        x-show="!editing">
                                        <button type="submit" class="text-sm text-red-primary">刪除</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <form
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-post="{% url 'articles:comment' article.id %}"
            hx-swap="innerHTML"
            hx-target="#comment_container-{{article.id}}"
            x-ref="submitForm">
            <div class="pt-3 pl-4 pr-4 pb-0 gap-2 flex flex-col">
                <div class="flex justify-center items-center mt-1 mb-1">
                    <div class="mr-3 mt-1 w-8 h-8 border border-gray-83 rounded-full overflow-hidden">
                        <img src="{% static 'images/visitor.svg' %}" alt="visitor"></img>
                    </div>
                    <div @click="toggleVisibility" class="pt-[5px] pr-[36px] pb-[5px] pl-[16px] w-[calc(100%-44px)] h-full rounded-[16px] bg-gray-94">
                        <textarea
                            x-model="commentContent"
                            @keyup.enter="submitCommentForm"
                            class="w-full h-[20px] pr-2 text-[16px] leading-6 border-none outline-none resize-none overflow-y-hidden bg-transparent text-dark-800 flex items-center" placeholder="有什麼不同看法..." name="content"></textarea>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="gap-[6px] flex justify-end pb-2">
                        <button type="button" class=" block border border-gray-69 pt-1 pb-1 text-[0.875em] rounded-[14px] text-dark-600 ">
                            <div class="w-[52px] h-5 whitespace-nowrap btn-transition">取消</div>
                        </button>
                        <button type="submit" @click="submitCommentForm" class="block pt-1 pb-1 text-[0.875em] rounded-[14px] text-white bg-red-primary">
                            <div class="w-[52px] h-5 whitespace-nowrap btn-transition">送出</div>
                        </button>
                    </div>
                {% endif %}
            </div>
        </form>
    </ul>
</div>