{% extends "layout/base.html" %}

{% block content%}
<h1>文章列表</h1>
<div class="btn btn-primary"> <a href="{% url 'articles:new'%}"> add new</a></div>

<ul>
    {%for post in posts%}

    <li><span>文章id: {{post.id}}</span>
        <span class="mr-8 text-success ">作者:{{post.userID}}</span>
        <a href="{% url 'articles:show' post.id%}"> {{post.title}}</a>
       <span class="link-primary"> <a href="{% url 'articles:edit' post.id%}"> edit</a> </span>

    </li>
    {%endfor%}
</ul>


{% endblock %}