{% extends "layouts/base.html" %}

{% block content%}
<h1 style="font-size: 36px;">文章列表</h1>
{% if user.is_authenticated %}
<div class="btn btn-primary"> <a href="{% url 'articles:new'%}">新增文章</a></div>
{% endif %}

<ul>
  {% for post in posts %}
      <li>文章id: {{post.id}}</li>
      <li> 標題:
          <strong>{{ post.title }}</strong>
      <li>作者: {{ post.userID }}</li>


      <li>文章標題:
       <a href="{% url 'articles:show' post.id%}"> {{post.title}} (檢視文章內文)</a>

        {% if post.userID == request.user %}
          <span class="link-primary"> <a href="{% url 'articles:edit' post.id%}"> 修改文章</a> </span>
         {% endif %}
      </li>
      <li>...........................................................</li>
      {% empty %}
      <li>No posts found.</li>
  {% endfor %}


</ul>


{% endblock %}