{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    {% include 'navigation/nav_bar.html' %}
     <div class="mt-[12px]">
        <div class="flex w-[1200px] mx-auto">
                <div class="w-[200px]">
                    {% include 'pages/main_page/_left_nav_bar.html' %}
                </div>
                <div class="flex-1">
                        <div class="w-[760px] mx-3.5">
                            <div class="h-[132px] mt-3 bg-gray-90 flex justify-center items-center pt-4 pb-4">
                                <img class="w-[760px] h-[132px] object-cover" src="http://127.0.0.1:8000/static/images/invenstment.png" alt="ad"/>
                            </div>
                        <div class="mt-3">
                            <div class="mt-2 mb-2">
                                <ul class="flex flex-wrap items-center gap-2">
                                    <li class="text-red-primary text-[14px]">首頁</li>
                                    <li class="flex items-center"><i class="fa-solid fa-angle-right fa-xs text-gray-69"></i></li>
                                    <li class="text-[14px]">熱門股市爆料</li>
                                    <li class="flex items-center"><i class="fa-solid fa-angle-right fa-xs text-gray-69"></i></li>
                                    <li class="text-[14px]">文章</li>
                                </ul>
                            </div>
                            <div class="mt-4">
                                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-[3px] after:left-0">
                                    <div>
                                        <h2 class="text-[20px] font-bold pb-2 -mb-[1px] border-b-[3px] border-b-red-900 leading-[18px]">熱門股市爆料</h2>
                                    </div>
                                </div>
                            </div>

                        </div>


                        {% include "pages/main_page/_article.html" with article=article %}




                </div>
            </div>
                <div class="w-[10px]"></div>
                <div class="w-[300px]">
                   {% include 'pages/main_page/_right_nav_bar.html' %}
                </div>
        </div>
    </div>
{% endblock %}


