{%load static%}
<section class="block mt-3 mb-3 my_article">
    <section class="shadow-area rounded-[3px] bg-white">
        <article class="pt-3 pb-2">
            <div x-data="edit_article">
                <div class="pl-4 pr-4">
                    <div class="flex items-center">
                        <div class="relative group">
                            <div x-data="follow_user({{ user.is_authenticated|lower}}, {{ user.id|default_if_none:'null' }}, {{ article.user.id }})"
                                 @mouseover="checkMouseoverColor('{% url 'follows:check_follow_api' article.user.id %}')">
                                <div>
                                    <a href="#">
                                        <div class="w-[40px] h-[40px] rounded-full border border-gray-94 flex items-center overflow-hidden">
                                            {% if article.user.profile.user_img %}
                                            <img src="{{ article.user.profile.user_img.url }}" alt="User Image" class="w-full h-full object-cover" />
                                            {% else %}
                                            <img src="{% static 'images/visitor.svg' %}" alt="visitor" class="w-full h-full object-cover"></img>
                                        {% endif %}
                                        </div>
                                    </a>
                                </div>
                                <div x-show="isShow && !isOwnPost" class="absolute hidden group-hover:block bg-white p-2 mt-2 rounded-[10px] shadow-lg w-[400px] h-[170px] z-10 top-[33px] -left-[150px]">
                                    <div class="flex items-center gap-3">
                                        <div class="w-[80px] h-[80px] rounded-full border border-gray-94 flex items-center justify-center overflow-hidden">
                                        {% if article.user.profile.user_img %}
                                            <img src="{{ article.user.profile.user_img.url }}" alt="User Image" class="w-full h-full object-cover" />
                                        {% else %}
                                            <img src="{% static 'images/visitor.svg' %}" alt="visitor" class="w-full h-full object-cover"></img>
                                        {% endif %}
                                        </div>
                                        <div class="flex flex-col justify-center">
                                            <div class="mb-1">
                                                <div class="text-[18px] font-semibold leading-6 tracking-[0.2px] text-dark-800">{{article.user}}</div>
                                            </div>
                                            <div class="w-[40px] h-auto text-[14px] font-extralight leading-4 tracking-[0.2px] text-center mb-1">Lv.10</div>
                                            <div class="text-sm">
                                                <span>粉絲: {{article.follower_count}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% if user.is_authenticated %}
                                        <button id="follow-{{ user.id }}"
                                                x-ref="buttonStyle"
                                                @click="followUser('{% url 'follows:follow_api' article.user.id %}', '{% url 'follows:unfollow_api' article.user.id %}', '{% url 'follows:check_follow_api' article.user.id %}', `{{csrf_token}}`)"
                                                :class="isFollow ? 'bg-red-primary' : 'bg-blue-3d6'"
                                                :disabled="isOwnPost"
                                                class="w-[95%] h-[25%] rounded-[4px] text-[14px] flex items-center justify-center mt-4 mx-auto cursor-pointer">
                                                <div class="flex items-center justify-center gap-1 text-white">
                                                    追蹤
                                                </div>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="ml-2 mr-2 overflow-hidden grow">
                            <div class="flex items-center">
                                <div>
                                    <a href="#" class="text-[16px] font-semibold leading-6 tracking-[0.2px] text-dark-800">{{article.user}}</a>
                                </div>
                            </div>
                            <div class="text-[12px] font-normal leading-4 tracking-[0.2px] h-[20px] flex items-center">
                                <a href="#" class="text-dark-600">2小時前</a>
                            </div>
                        </div>
                        <div>
                            {% if user.is_authenticated and article.user == request.user %}
                                <div class="dropdown">
                                    <div tabindex="0" role="button"  class="w-12 h-4 bg-white btn">
                                        <i class="fa-solid fa-ellipsis w-[26px] h-[26px] text-gray-56"></i>
                                    </div>
                                    <ul tabindex="0" class="menu dropdown-content bg-white rounded-box z-[1] w-40 p-2 shadow right-0">
                                        <li>
                                            <button
                                                @click="startEdit"
                                                x-show="!editing"
                                                class="text-sm">
                                                編輯文章
                                            </button>
                                        </li>
                                        <li>
                                            <form
                                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                hx-delete="{% url 'articles:delete_artile' article.id %}"
                                                hx-confirm="確認刪除？"
                                                hx-target="closest .my_article"
                                                hx-swap="outerHTML"
                                                x-show="!editing">
                                                <button type="submit" class="text-sm text-red-primary">刪除文章</button>
                                            </form>
                                        </li>
                                        <li>
                                            <button
                                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                hx-post="{% url 'articles:edit' article.id %}"
                                                hx-swap="none"
                                                x-bind:hx-vals="JSON.stringify({content: articleContent})"
                                                @click="saveEdit"
                                                x-show="editing"
                                                class="text-sm">
                                                儲存文章
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                            {% if user.is_authenticated and article.user != request.user %}
                                <div class="dropdown">
                                    <div tabindex="0" role="button"  class="w-12 h-4 bg-white btn rounded-full bg-transparent border-transparent" >
                                        <i class="fa-solid fa-ellipsis w-[26px] h-[26px] text-gray-56"></i>
                                    </div>
                                    <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] w-40 p-2 shadow right-0">
                                        <li>
                                            {% include 'articles/_collectors.html' with article=article collected=article.collect  %}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-[40px] h-auto text-[12px] font-normal leading-4 tracking-[0.2px] text-center">Lv.10</div>
                </div>
                <div class="pl-4 pr-4">
                    <ul class="flex flex-wrap gap-2 mt-2 list-none">
                        {% for stock in article.stock.all %}
                        <li class="rounded bg-gray-90">
                            <a href="{% url 'stocks:stock_data' stock.security_code %}">
                                <span class="flex items-center gap-1 pt-1 pb-1 pl-2 pr-2">
                                    <div class="w-4 h-4 border-l-1 border-gray-69 "><img src="https://fsv.cmoney.tw/cmstatic/t/images/stock/dayline/2888.png"></div>
                                    <div class="text-[14px] font-normal leading-5 text-dark-800">{{stock.name}}</div>
                                </span>
                            </a>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="relative pt-4 pb-4 pl-4 pr-4">
                    <div x-show="!editing">
                        <div x-ref="articleContent" class="text-[1.125em] leading-[1.375em] text-dark-800 h-full overflow-auto">
                         {{ article.content }}
                        </div>
                    </div>


                    <template x-if="editing">
                        <textarea x-model="articleContent"
                            class="bg-white text-[1.125em] leading-[1.375em] text-dark-800 w-full p-4 border border-gray-cbc overflow-auto resize-none"
                            rows="2">
                            {{ article.content }}
                        </textarea>
                    </template>
                    <div>
                        {% if article.photo %}
                       <img src="{{ article.photo.url }}" alt="Article Image" />
                        {% endif %}
                     </div>
                </div>
            </div>

            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})">
                <div class="pl-3 pr-3">
                    <div class="flex flex-row-reverse pt-2 pb-2 pl-1 pr-1 border-t border-b border-gray-90">
                        <div x-data="shareLinkComponent"
                            class="relative inline-block w-1/3 "
                            data-url="{{ request.scheme }}://{{ request.get_host }}/articles/{{ article.id }}"
                            x-init="init()">
                            <button @click="showTooltip = !showTooltip"
                                class="relative flex mx-auto inline-block cursor-pointer ">
                                <div class="relative flex justify-center bg-white rounded hover:bg-gray-94" style="lg:w-[20%]; height:40px; padding-top: 9px;">
                                    <div class="flex items-center w-5 h-5">
                                        <i class="fa-solid fa-share w-[20px] h-[20px] text-gray-56"></i>
                                    </div>
                                    <div class="ml-1 font-bold whitespace-nowrap text-dark-600">
                                    分享
                                    </div>
                                </div>
                            </button>
                            <div x-show="showTooltip"
                            class="absolute h-[40px] w-[150px] right-0 bg-white rounded-[10px] shadow-lg border border-gray-300  text-center cursor-pointer transform -translate-y-3/4 flex items-center justify-center hover:bg-gray-94"
                            @click.away="showTooltip = false">
                                <i class="fa-solid fa-plus text-dark-600"></i>
                                <template x-if="!copied">
                                    <span @click="copyLink()">複製連結</span>
                                </template>
                                <template x-if="copied">
                                    <span>已複製！</span>
                                </template>
                            </div>
                        </div>
                        <button @click="toggleVisibility" class="relative flex-grow flex-shrink-0 basis-[56px] inline-block cursor-pointer right-0">
                            <div class="relative flex justify-center bg-white rounded hover:bg-gray-94">
                                <div class="w-5 h-5 mt-2 mb-2">
                                    <i class="fa-regular fa-comment w-[20px] h-[20px] text-gray-56"></i>
                                </div>
                                <div class="mt-[7.5px] mb-[7.5px] ml-1 font-bold whitespace-nowrap text-dark-600">留言</div>
                            </div>
                        </button>
                        {% include "articles/_liked.html" with article=article liked=article.user_liked csrf_token=csrf_token user=user  only %}
                    </div>
                </div>
                <template x-if="!isAuthenticated">
                    {% include "layouts/not_logged.html" %}
                </template>
            </div>
            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})">
                <div id="comment_container-{{article.id}}" >
                    {% include 'articles/_comment.html' with article=article %}
                <div>
                <template x-if="!isAuthenticated">
                    {% include "layouts/not_logged.html" %}
                </template>
            </div>
        </article>
    </section>
</section>