{%load static%}
<section class="block mt-3 mb-3">
    <section class="shadow-area rounded-[3px] bg-white">
        <article class="pt-3 pb-2">
            <div x-data="edit_article">
                <div class="pl-4 pr-4">
                    <div class="flex items-center">
                        <div class="relative group">
                            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})" @mouseover="isShow = true">
                                <div>
                                    <a href="#">
                                        <div class="w-[40px] h-[40px] rounded-full border border-gray-94 overflow-hidden">
                                            <img src="{% static 'images/visitor.svg' %}" alt="visitor"></img>
                                        </div>
                                    </a>
                                </div>
                                <div x-show="isShow" class="absolute hidden group-hover:block bg-white p-2 mt-2 rounded-[10px] shadow-lg w-[400px] h-[170px] z-10 top-[33px] -left-[150px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <a href="#">
                                                <div class="w-[80px] h-[80px] rounded-full border border-gray-94 overflow-hidden mt-2 ml-3">
                                                    <img src="{% static 'images/visitor.svg' %}" alt="visitor" class="w-full h-full"></img>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="flex flex-col justify-center">
                                            <div class="mb-1">
                                                <a href="#" class="text-[18px] font-semibold leading-6 tracking-[0.2px] text-dark-800">{{article.user}}</a>
                                            </div>
                                            <div class="w-[40px] h-auto text-[14px] font-extralight leading-4 tracking-[0.2px] text-center mb-1">Lv.10</div>
                                            <div class="flex justify-center">
                                                <div class="flex justify-center gap-2 pr-2 border-r-2 border-gray-94 text-[14px]">
                                                    <div><span>發文</span></div>
                                                    <div><span>3702</span></div>
                                                </div>
                                                <div class="flex justify-center gap-2 pl-2 text-[14px]">
                                                    <div><span>粉絲</span></div>
                                                    <div><span>3248</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div @click="toggleVisibility" class="bg-red-primary w-[95%] h-[25%] rounded-[4px] text-[14px] flex items-center justify-center mt-4 mx-auto cursor-pointer">
                                        <button class="flex items-center justify-center gap-1">
                                            <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                            <div class="text-white">追蹤</div>
                                        </button>
                                    </div>
                                </div>
                                <template x-if="!isAuthenticated">
                                    {% include "layouts/not_logged.html" %}
                                </template>
                            </div>
                        </div>
                        <div class="grow ml-2 mr-2 overflow-hidden">
                            <div class="flex items-center">
                                <div>
                                    <a href="#" class="text-[16px] font-semibold leading-6 tracking-[0.2px] text-dark-800">{{article.user}}</a>
                                </div>
                            </div>
                            <div class="text-[12px] font-normal leading-4 tracking-[0.2px] h-[20px] flex items-center">
                                <a href="#" class="text-dark-600">2小時前</a>
                            </div>
                        </div>
                        <div>
                            {% if user.is_authenticated and article.user == request.user %}
                                <div class="dropdown">
                                    <div tabindex="0" role="button"  class="btn w-12 h-4">
                                        <i class="fa-solid fa-ellipsis w-[26px] h-[26px] text-gray-56"></i>
                                    </div>
                                    <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] w-40 p-2 shadow">
                                        <li>
                                            <form action="{% url 'articles:delete_artile' article.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="text-sm text-red-primary">刪除文章</button>
                                            </form>
                                        </li>
                                        <li>
                                            <button
                                                @click="startEdit"
                                                x-show="!editing"
                                                class="text-sm">
                                                編輯文章
                                            </button>
                                        </li>
                                        <li>
                                            <button
                                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                hx-post="{% url 'articles:edit' article.id %}"
                                                hx-swap="none"
                                                x-bind:hx-vals="JSON.stringify({content: articleContent})"
                                                @click="saveEdit"
                                                x-show="editing"
                                                class="text-sm">
                                                儲存文章
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-[40px] h-auto text-[12px] font-normal leading-4 tracking-[0.2px] text-center">Lv.10</div>
                </div>
                <div class="pl-4 pr-4">
                    <ul class="flex gap-2 mt-2 flex-wrap list-none">
                        <li class="rounded bg-gray-90">
                            <a href="#">
                                <span class="flex items-center gap-1 pt-1 pb-1 pl-2 pr-2">
                                    <div class="w-4 h-4 border-l-1 border-gray-69 "><img src="https://fsv.cmoney.tw/cmstatic/t/images/stock/dayline/2888.png"></div>
                                    <div class="text-[14px] font-normal leading-5 text-dark-800">新光金</div>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pl-4 pr-4 pt-4 pb-4 relative">
                    <div x-show="!editing">
                        <div x-ref="articleContent" class="text-[1.125em] leading-[1.375em] text-dark-800 h-full overflow-auto">
                         {{ article.content }}
                        </div>
                    </div>
                    <template x-if="editing">
                        <textarea x-model="articleContent"
                            class="text-[1.125em] leading-[1.375em] text-dark-800 w-full p-4 border border-gray-cbc overflow-auto resize-none"
                            rows="2">
                            {{ article.content }}
                        </textarea>
                    </template>
                </div>
            </div>

            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})">
                <div class="pl-3 pr-3">
                    <div class="pt-2 pb-2 pl-1 pr-1 flex flex-row-reverse border-t border-b border-gray-90">
                        <button class="relative flex-grow flex-shrink-0 basis-[56px] inline-block cursor-pointer">
                            <div class="relative flex justify-center rounded bg-white hover:bg-gray-94">
                                <div class="mt-2 mb-2 w-5 h-5">
                                    <i class="fa-solid fa-share w-[20px] h-[20px] text-gray-56"></i>
                                </div>
                                <div class="mt-[7.5px] mb-[7.5px] ml-1 font-bold whitespace-nowrap text-dark-600">分享</div>
                            </div>
                        </button>
                        <button @click="toggleVisibility" class="relative flex-grow flex-shrink-0 basis-[56px] inline-block cursor-pointer">
                            <div class="relative flex justify-center rounded bg-white hover:bg-gray-94">
                                <div class="mt-2 mb-2 w-5 h-5">
                                    <i class="fa-regular fa-comment w-[20px] h-[20px] text-gray-56"></i>
                                </div>
                                <div class="mt-[7.5px] mb-[7.5px] ml-1 font-bold whitespace-nowrap text-dark-600">留言</div>
                            </div>
                        </button>
                                {% if user.is_authenticated %}
                                    {% include "articles/_liked.html" with article=article liked=article.user_liked csrf_token=csrf_token only %}
                                {% endif %}
                        </button>
                    </div>
                </div>
                <template x-if="!isAuthenticated">
                    {% include "layouts/not_logged.html" %}
                </template>
            </div>
            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})">
                <div id="comment_container-{{article.id}}" >
                    {% include 'pages/main_page/_comment.html' with article=article %}
                <div>
                <template x-if="!isAuthenticated">
                    {% include "layouts/not_logged.html" %}
                </template>
            </div>
        </article>
    </section>
</section>