{%load static%}
<aside class="w-[260px]">
    <div class="shadow-area rounded-[3px] bg-white">
        <div class="p-4">
            <div>
                <div>
                    <header class="mb-4 leading-4">
                        <div>
                            <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                <div class="relative z-1">
                                    <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">大盤走勢</h2>
                                </div>
                                <div>
                                    <div>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px] bg-red-primary text-white"><div class="text-[12px]">上市</div></button>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px]"><div class="text-[12px]">上櫃</div></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="w-[260px]  flex flex-grow items-center overflow-hidden">
                        <iframe src="http://127.0.0.1:8050/" style="height:200px;width: 250px;margin-left: -1em;"  frameborder="0" scrolling="no"></iframe>
                        </div>
                </div>
            </div>
            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})" class="mt-5">
                <div>
                    <div>
                        <header class="mb-4 leading-4">
                            <div>
                                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                    <div class="relative z-1">
                                        <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">熱門股票</h2>
                                    </div>
                                    <div>
                                        <a href="#" class="pt-[6px] pb-[6px] text-sm text-red-900">更多</a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div>
                            <div>
                                <ul class="list-none">
                                    <li class="flex justify-between items-center group mt-4">
                                        <div>
                                            <div class="text-red-primary hover:underline"><a href="#">TWA00 加權指數</a></div>
                                            <div class="h-[14px] text-[14px] text-gray-69 mt-[6px] flex items-center"> - </div>
                                        </div>
                                        <div @click="toggleVisibility">
                                            <div class="bg-red-primary w-[60px] h-[28px] rounded-[4px] text-sm flex items-center justify-center">
                                                <button class="flex items-center gap-1">
                                                    <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                                    <div class="text-white">自選</div>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="flex justify-between items-center group mt-4">
                                        <div>
                                            <div class="text-red-primary hover:underline"><a href="#">8028 昇陽半導體</a></div>
                                            <div class="h-[14px] text-[14px] text-gray-69 mt-[6px] flex items-center"> 83,315 <span>人關注</span></div>
                                        </div>
                                        <div @click="toggleVisibility">
                                            <div class="bg-red-primary w-[60px] h-[28px] rounded-[4px] text-sm flex items-center justify-center">
                                                <button class="flex items-center gap-1">
                                                    <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                                    <div class="text-white">自選</div>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="flex justify-between items-center group mt-4">
                                        <div>
                                            <div class="text-red-primary hover:underline"><a href="#">4513 福裕</a></div>
                                            <div class="h-[14px] text-[14px] text-gray-69 mt-[6px] flex items-center"> 30,198 <span>人關注</span></div>
                                        </div>
                                        <div @click="toggleVisibility">
                                            <div class="bg-red-primary w-[60px] h-[28px] rounded-[4px] text-sm flex items-center justify-center">
                                                <button class="flex items-center gap-1">
                                                    <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                                    <div class="text-white">自選</div>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="flex justify-between items-center group mt-4">
                                        <div>
                                            <div class="text-red-primary hover:underline"><a href="#">2317 鴻海</a></div>
                                            <div class="h-[14px] text-[14px] text-gray-69 mt-[6px] flex items-center"> 1,123,067 <span>人關注</span></div>
                                        </div>
                                        <div @click="toggleVisibility">
                                            <div class="bg-red-primary w-[60px] h-[28px] rounded-[4px] text-sm flex items-center justify-center">
                                                <button class="flex items-center gap-1">
                                                    <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                                    <div class="text-white">自選</div>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <template x-if="!isAuthenticated">
                                    {% include "layouts/not_logged.html" %}
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div x-data="unlogined_prompt({{ user.is_authenticated|lower }})" class="mt-5">
                <div>
                    <div>
                        <header class="mb-4 leading-4">
                            <div>
                                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                    <div class="relative z-1">
                                        <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">系統推薦</h2>
                                    </div>
                                    <div>
                                        <a href="#" class="pt-[6px] pb-[6px] text-sm text-red-900">更多</a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div>
                            <div>
                                <ul class="list-none">
                                    <li class="flex justify-between items-center group mt-4">
                                        <div>
                                            <div class="text-red-primary hover:underline"><a href="#">1416 廣豐</a></div>
                                            <div class="h-[14px] text-[14px] text-gray-69 mt-[6px] flex items-center"> 8.4 <span>分，優秀</span></div>
                                        </div>
                                        <div @click="toggleVisibility">
                                            <div class="bg-red-primary w-[60px] h-[28px] rounded-[4px] text-sm flex items-center justify-center">
                                                <button class="flex items-center gap-1">
                                                    <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                                    <div class="text-white">自選</div>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="flex justify-between items-center group mt-4">
                                        <div>
                                            <div class="text-red-primary hover:underline"><a href="#">1582 信錦</a></div>
                                            <div class="h-[14px] text-[14px] text-gray-69 mt-[6px] flex items-center"> 8.4 <span>分，優秀</span></div>
                                        </div>
                                        <div @click="toggleVisibility">
                                            <div class="bg-red-primary w-[60px] h-[28px] rounded-[4px] text-sm flex items-center justify-center">
                                                <button class="flex items-center gap-1">
                                                    <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                                    <div class="text-white">自選</div>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="flex justify-between items-center group mt-4">
                                        <div>
                                            <div class="text-red-primary hover:underline"><a href="#">2488 漢平</a></div>
                                            <div class="h-[14px] text-[14px] text-gray-69 mt-[6px] flex items-center"> 8.4 <span>分，優秀</span></div>
                                        </div>
                                        <div @click="toggleVisibility">
                                            <div class="bg-red-primary w-[60px] h-[28px] rounded-[4px] text-sm flex items-center justify-center">
                                                <button class="flex items-center gap-1">
                                                    <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                                    <div class="text-white">自選</div>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="flex justify-between items-center group mt-4">
                                        <div>
                                            <div class="text-red-primary hover:underline"><a href="#">6139 亞翔</a></div>
                                            <div class="h-[14px] text-[14px] text-gray-69 mt-[6px] flex items-center"> 8.4 <span>分，優秀</span></div>
                                        </div>
                                        <div @click="toggleVisibility">
                                            <div class="bg-red-primary w-[60px] h-[28px] rounded-[4px] text-sm flex items-center justify-center">
                                                <button class="flex items-center gap-1">
                                                    <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                                    <div class="text-white">自選</div>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <template x-if="!isAuthenticated">
                                    {% include "layouts/not_logged.html" %}
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>