{%load static%}
<aside class="w-[260px]">
    <div class="shadow-area rounded-[3px] bg-white">
        <div class="p-4">
            <div>
                <div>
                    <header class="mb-4 leading-4">
                        <div>
                            <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                <div class="relative z-1">
                                    <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">大盤走勢</h2>

                                </div>
                                <div>
                                    <div>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px] bg-red-primary text-white"><div class="text-[12px]">上市</div></button>
                                        <button class="pt-[3px] pb-[3px] pl-[6px] pr-[6px] rounded-[3px]"><div class="text-[12px]">上櫃</div></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="w-[260px]  flex flex-grow items-center overflow-hidden">
                        <iframe src="http://127.0.0.1:8050/" style="height:200px;width: 250px;margin-left: -1em;"  frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div>
                    <div>
                        <header class="mb-4 leading-4">
                            <div>
                                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                    <div class="relative z-1">
                                        <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">熱門股票</h2>
                                    </div>
                                    <div>
                                        <a href="#" class="pt-[6px] pb-[6px] text-sm text-red-900">更多</a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div>
                            <div>
                              <ul class="list-none">
                                <li class="flex justify-between items-center group mt-4">
                                  <div>
                                    <div class="text-red-primary hover:underline">
                                      <a href="#">2330 台積電</a>
                                    </div>
                                  </div>
                                  <button
                                    x-data="optional_stock({{ user.is_authenticated|lower }})"
                                    x-init="isAuthenticated? checkPickStatus('{% url 'picks:check_pick_api' 2330 %}') : false"
                                    x-ref="buttonStyle"
                                    @click="startPick('{% url 'picks:pick_api' 2330 %}', '{% url 'picks:unpick_api' 2330 %}', '{% url 'picks:check_pick_api' 2330 %}', `{{csrf_token}}`)"
                                  ></button>
                                </li>
                                <li class="flex justify-between items-center group mt-4">
                                  <div>
                                    <div class="text-red-primary hover:underline">
                                      <a href="#">2317 鴻海</a>
                                    </div>
                                  </div>
                                  <button
                                    x-data="optional_stock({{ user.is_authenticated|lower }})"
                                    x-init="isAuthenticated? checkPickStatus('{% url 'picks:check_pick_api' 2317 %}') : false"
                                    x-ref="buttonStyle"
                                    @click="startPick('{% url 'picks:pick_api' 2317 %}', '{% url 'picks:unpick_api' 2317 %}', '{% url 'picks:check_pick_api' 2317 %}', `{{csrf_token}}`)"
                                  ></button>
                                </li>
                                <li class="flex justify-between items-center group mt-4">
                                  <div>
                                    <div class="text-red-primary hover:underline">
                                      <a href="#">2454 聯發科</a>
                                    </div>
                                  </div>
                                  <button
                                    x-data="optional_stock({{ user.is_authenticated|lower }})"
                                    x-init="isAuthenticated? checkPickStatus('{% url 'picks:check_pick_api' 2454 %}') : false"
                                    x-ref="buttonStyle"
                                    @click="startPick('{% url 'picks:pick_api' 2454 %}', '{% url 'picks:unpick_api' 2454 %}', '{% url 'picks:check_pick_api' 2454 %}', `{{csrf_token}}`)"
                                  ></button>
                                </li>
                                <li class="flex justify-between items-center group mt-4">
                                  <div>
                                    <div class="text-red-primary hover:underline">
                                      <a href="#">2349 錸德</a>
                                    </div>
                                  </div>
                                  <button
                                    x-data="optional_stock({{ user.is_authenticated|lower }})"
                                    x-init="isAuthenticated? checkPickStatus('{% url 'picks:check_pick_api' 2349 %}') : false"
                                    x-ref="buttonStyle"
                                    @click="startPick('{% url 'picks:pick_api' 2349 %}', '{% url 'picks:unpick_api' 2349 %}', '{% url 'picks:check_pick_api' 2349 %}', `{{csrf_token}}`)"
                                  ></button>
                                </li>
                                <li class="flex justify-between items-center group mt-4">
                                  <div>
                                    <div class="text-red-primary hover:underline">
                                      <a href="#">2371 大同</a>
                                    </div>
                                  </div>
                                  <button
                                    x-data="optional_stock({{ user.is_authenticated|lower }})"
                                    x-init="isAuthenticated? checkPickStatus('{% url 'picks:check_pick_api' 2371 %}') : false"
                                    x-ref="buttonStyle"
                                    @click="startPick('{% url 'picks:pick_api' 2371 %}', '{% url 'picks:unpick_api' 2371 %}', '{% url 'picks:check_pick_api' 2371 %}', `{{csrf_token}}`)"
                                  ></button>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div>
                    <div>
                        <header class="mb-4 leading-4">
                            <div>
                                <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-1 after:left-0">
                                    <div class="relative z-1">
                                        <h2 class="text-lg font-bold pb-2 -mb-[2px] border-b-[3px] border-b-red-900 leading-[18px]">系統推薦</h2>
                                    </div>
                                    <div>
                                        <a href="#" class="pt-[6px] pb-[6px] text-sm text-red-900">更多</a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div>
                            <div>
                              <ul class="list-none">
                                {% for security_code, name in random_five_tags %}
                                <li class="flex justify-between items-center group mt-4">
                                  <div>
                                    <div class="text-red-primary hover:underline">
                                      <a href="#">{{security_code}} {{name}}</a>
                                    </div>
                                  </div>
                                  <button
                                    x-data="optional_stock({{ user.is_authenticated|lower }})"
                                    x-init="isAuthenticated? checkPickStatus('{% url 'picks:check_pick_api' security_code %}') : false"
                                    x-ref="buttonStyle"
                                    @click="startPick('{% url 'picks:pick_api' security_code %}', '{% url 'picks:unpick_api' security_code %}', '{% url 'picks:check_pick_api' security_code %}', `{{csrf_token}}`)"
                                  ></button>
                                </li>
                                {% endfor %}
                              </ul>
                                <template x-if="!isAuthenticated">
                                    {% include "layouts/not_logged.html" %}
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>