{% load static %}
<div class="w-[760px] mx-3.5">
    <div class="ad-banner h-[132px]">
        <img class="w-[760px] h-[132px] object-cover" src="https://bbforum-1.s3.ap-northeast-1.amazonaws.com/static_image/invenstment.png" alt="ad"/>
    </div>
    <div class="mt-3">
        <div>
            <div class="mt-2 mb-2">
                <ul class="flex flex-wrap items-center">
                    <li class="text-red-primary text-[14px]">首頁</li>
                    <li><i class="fa-solid fa-angle-right fa-xs text-gray-69"></i></li>
                    <li class="text-[14px] text-gray-500">熱門同學</li>
                </ul>
            </div>
        </div>
        <div class="mt-4 mb-4">
            <div class="red-line">
                <div>
                    <h2 class="h2-font">熱門同學</h2>
                </div>
            </div>
        </div>
        <div class="p-4 mb-4 rounded-[3px] shadow-watchlist bg-white">
            <div class="mb-4">
                <div class="flex justify-between items-center">
                    <div class="flex items-start">

                        <div class="ml-4">
                            <div class="flex items-center">
                                <div class="flex items-center justify-between">
                                    <div class="photo-stickers" style="background: url('https://fsv.cmoney.tw/cmstatic/head-icons/a53.gif'); background-size: 100% 100%;"></div>
                                    <div class="ml-2"><h2 class="text-[20px] text-black font-bold">小P</h2></div>
                                </div>
                                <div @click="toggleVisibility" class="ml-auto">
                                    <div class="plus-red-button">
                                        <button class="flex items-center gap-1">
                                            <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                            <div class="text-white">追蹤</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray-500">好讚： 794,971粉絲：  發文： </div>
                            <div class="mt-2 text-black">
                                <h1>P目前只在這平台發文，除非年底結束後，正式決定退出此平台，否則不會在其他平台發文 任何其他平台說是P的分享內容的，一律是詐騙，請大家小心不要受騙上當 且P的內容分享，永遠是免費的，不可能向粉絲收取任何費用</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-4 mb-4 rounded-[3px] shadow-watchlist bg-white">
            <div class="mb-4">
                <div class="flex justify-between items-center">
                    <div class="flex items-start">

                        <div class="ml-4">
                            <div class="flex items-center">
                                <div class="flex items-center justify-between">
                                    <div class="photo-stickers" style="background: url('https://fsv.cmoney.tw/cmstatic/head-icons/a53.gif'); background-size: 100% 100%;"></div>
                                    <div class="ml-2"><h2 class="text-[20px] text-black font-bold">小P</h2></div>
                                </div>
                                <div @click="toggleVisibility" class="ml-auto">
                                    <div class="plus-red-button">
                                        <button class="flex items-center gap-1">
                                            <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                            <div class="text-white">追蹤</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray-500">好讚： 794,971粉絲：  發文： </div>
                            <div class="mt-2 text-black">
                                <h1>P目前只在這平台發文，除非年底結束後，正式決定退出此平台，否則不會在其他平台發文 任何其他平台說是P的分享內容的，一律是詐騙，請大家小心不要受騙上當 且P的內容分享，永遠是免費的，不可能向粉絲收取任何費用</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-4 mb-4 rounded-[3px] shadow-watchlist bg-white">
            <div class="mb-4">
                <div class="flex justify-between items-center">
                    <div class="flex items-start">

                        <div class="ml-4">
                            <div class="flex items-center">
                                <div class="flex items-center justify-between">
                                    <div class="photo-stickers" style="background: url('https://fsv.cmoney.tw/cmstatic/head-icons/a53.gif'); background-size: 100% 100%;"></div>
                                    <div class="ml-2"><h2 class="text-[20px] text-black font-bold">小P</h2></div>
                                </div>
                                <div @click="toggleVisibility" class="ml-auto">
                                    <div class="plus-red-button">
                                        <button class="flex items-center gap-1">
                                            <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                            <div class="text-white">追蹤</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray-500">好讚： 794,971粉絲：  發文： </div>
                            <div class="mt-2 text-black">
                                <h1>P目前只在這平台發文，除非年底結束後，正式決定退出此平台，否則不會在其他平台發文 任何其他平台說是P的分享內容的，一律是詐騙，請大家小心不要受騙上當 且P的內容分享，永遠是免費的，不可能向粉絲收取任何費用</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-4 mb-4 rounded-[3px] shadow-watchlist bg-white">
            <div class="mb-4">
                <div class="flex justify-between items-center">
                    <div class="flex items-start">

                        <div class="ml-4">
                            <div class="flex items-center">
                                <div class="flex items-center justify-between">
                                    <div class="photo-stickers" style="background: url('https://fsv.cmoney.tw/cmstatic/head-icons/a53.gif'); background-size: 100% 100%;"></div>
                                    <div class="ml-2"><h2 class="text-[20px] text-black font-bold">小P</h2></div>
                                </div>
                                <div @click="toggleVisibility" class="ml-auto">
                                    <div class="plus-red-button">
                                        <button class="flex items-center gap-1">
                                            <i class="fa-solid fa-plus w-[12px] h-[12px] text-white"></i>
                                            <div class="text-white">追蹤</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray-500">好讚： 794,971粉絲：  發文： </div>
                            <div class="mt-2 text-black">
                                <h1>P目前只在這平台發文，除非年底結束後，正式決定退出此平台，否則不會在其他平台發文 任何其他平台說是P的分享內容的，一律是詐騙，請大家小心不要受騙上當 且P的內容分享，永遠是免費的，不可能向粉絲收取任何費用</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>