{% load static %}
<div class="desktop-only w-[760px] mx-3.5">
    <div class="ad-banner h-[132px]">
        <img class="w-[760px] h-[132px] object-cover" src="https://s3cdn.yourator.co/banners/banners/000/001/494/home/598a79cc28630e1c421d38c3e385faa9e2e88505.png" alt="ad"/>
    </div>
    <div class="mt-3">
        <div>
            <div class="mt-2 mb-2">
                <ul class="flex flex-wrap items-center">
                    <li class="text-red-primary text-[14px]">首頁</li>
                    <li><i class="fa-solid fa-angle-right fa-xs text-black-69"></i></li>
                    <li class="text-[14px] text-black-500">熱門同學</li>
                </ul>
            </div>
        </div>
        <div class="mt-4 mb-4">
            <div class="red-line">
                <div>
                    <h2 class="h2-font">熱門同學</h2>
                </div>
            </div>
        </div>
        <section>
            {% for article in articles %}
                {% include "pages/main_page/_article.html" with article=article %}
            {% endfor %}
    </section>
    </div>
</div>