{% extends "layouts/base.html" %}


{% block content%}
<a href="{% url 'pages:index' %}">回首頁</a>
<h1 style="font-size: 36px;">會員個人資料 瀏覽</h1>
<ul>
    <li class="label">暱稱:{{post.nickname}}</li>
    <li class="label">性別:{{post.get_gender_display}}</li>
    <li class="label">生日:{{post.birthday}}</li>
    <li class="label">居住地區:{{post.get_location_display}}</li>
    <li class="label">教育程度:{{post.get_education_display}}</li>
    <li class="label">職    業:{{post.get_profession_display}}</li>
    <li class="label">投資經驗:{{post.get_investment_experience_display}}</li>
    <li class="label">投資工具:
        {% for tool in investment_tool_names %}
            {{ tool }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </li>
    <li class="label">投資屬性:{{post.get_investment_attributes_display}}</li>

</ul>



<div class="mt-4 btn btn-primary"><a href="{% url 'userprofiles:edit' post.id%}"> 編輯</a></div>

{% endblock %}