{% load static %}
<div class="w-[760px] mx-3.5">
    <div class="h-[132px] mt-3 bg-gray-90 flex justify-center items-center pt-4 pb-4">
        我是廣告版面
    </div>
    <div class="mt-3">
        <div>
            <div class="mt-2 mb-2">
                <ul class="flex flex-wrap items-center">
                    <li class="text-red-primary text-[14px]">首頁</li>
                    <li><i class="fa-solid fa-angle-right fa-xs text-gray-69"></i></li>
                    <li class="text-[14px]">熱門股票</li>
                </ul>
            </div>
        </div>
        <div class="mt-4 mb-4">
            <div class="flex justify-between relative after:content-[''] after:block after:w-full after:h-[2px] after:bg-gray-221 after:absolute after:-bottom-[3px] after:left-0">
                <div>
                    <h2 class="text-[20px] font-bold pb-2 -mb-[1px] border-b-[3px] border-b-red-900 leading-[18px]">熱門股票</h2>
                </div>
            </div>
        </div>
        <div class="p-4 mb-4 rounded-[3px] shadow-watchlist bg-white">
            <div class="mb-4">
                <div class="flex justify-end">
                    <div class="text-gray-56">
                        <span>報價時間</span>
                        <span class="text-gray-90"> | </span>
                        <span>09/03 11:55</span>
                        <button class="rounded-[4px] inline-flex items-center justify-center gap-1 w-[61px] h-[28px] bg-white text-red-primary border border-gray-83 font-semibold text-[1rem] font-upgrade outline-none no-underline cursor-pointer">
                            <img src="{% static 'update.e4cf774.svg' %}" alt="upgrade" />
                            更新
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="relative bg-white">
                    <div>
                        <table class="w-[100%] table-fixed border border-gray-d5d border-collapse border-spacing-0">

                            <tbody>
                                <tr class="cursor-pointer bg-white">
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex flex-col items-start justify-end">
                                            <a href="#" class="w-[100%] whitespace-nowrap overflow-hidden text-ellipsis text-red-900">5905 南仁湖</a>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="font-bold flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <span class="text-green-1b9">22.25</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <div class="w-4 h-4">
                                                        <img class="w-full h-full align-top inline-block"/>
                                                    </div>
                                                    <span class="ml-1 text-green-1b9">-0.75</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <span class="text-green-1b9">-3.26%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <div class="text-black">4,210</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle pt-[9px] pb-[9px] pl-[10px] pr-[10px] border border-gray-d5d">
                                        <div class="flex items-center justify-end">
                                            <div>
                                                <div class="flex items-center">
                                                    <div class="text-black"> - </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>