{% extends "layouts/base.html" %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen">
    <div class="ml-auto mr-auto">
        <div class="p-5 w-[488px] shadow-sign-in rounded-lg border-t border-t-transparent border-b border-b-transparent">
            <h1 class="text-[20px] text-center mb-4 ">忘記密碼</h1>
            <form method="post" action="{% url 'users:forget_password' %}">
                {% csrf_token %}
                <label for="username" class="text-[20px] pl-2">請輸入帳號:</label>
                <input type="text" id="username" name="username" required class="w-[100%] pt-3 pb-3 pl-4 pr-4 border border-[#e9e6e6] rounded-[10px] bg-white text-black-2d2 font-[100%] mb-4 mt-2">
                <button type="submit" class="w-[100%] text-white border-2 border-red-e21 bg-red-e21 inline-block pt-3 pb-3 pl-4 pr-4 cursor-pointer leading-5 text-center font-jhenghei rounded-[10px]">重設密碼</button>
            </form>
            {% if forget_password_tips %}
            <div class="mt-4 mb-4 w-[768px]">
                <p>{{ forget_password_tips }}</p>
            </div>
            <a href="{%url 'users:sign_in'%}" class="w-[100%] text-white border-2 border-red-e21 bg-red-e21 inline-block pt-3 pb-3 pl-4 pr-4 cursor-pointer leading-5 text-center font-jhenghei rounded-[10px]">返回登入頁面</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock  %}
