{% extends "layouts/base.html" %}
{%load static%}

{% block content %}
    <h1>User Profile</h1>
    <a href="{% url 'pages:index' %}">返回首頁</a>


    <h1 style="font-size: 36px;">會員個人資料 </h1>


    <ul>
        {% if post %}
        <ul>

            <li>暱稱: <a class="link" href="{% url 'userprofiles:show' post.id %}">{{ post.nickname }} (查看個人資料) </a></li>
            <li class="mt-4 btn btn-primary">
                <a href="{% url 'userprofiles:edit' post.id %}">編輯會員個人資料</a>
            </li>
        </ul>
    {% else %}
        <div class="mt-4 btn btn-primary">
            <a href="{% url 'userprofiles:new' %}">新增會員個人資料</a>
        </div>
    {% endif %}
    </ul>





{% endblock %}